@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: rgba(222, 254, 255, 0.455);
}
nav {
    background-color: rgb(35, 225, 250);
    color: white;
    padding: 12px 3px;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin: 0 23px;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
}

ul {
    display: flex;
    margin: 0 20px;
    align-items: center;
}

ul > li {
    list-style: none;
    margin: 0 13px;
    cursor: pointer;
}

ul > li:hover{
    color: white;
    text-decoration: underline;
    /* underline color */
    

}

table, td, tr{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 6px 12px;
}

.container {
    /* background-color: aqua; */
    max-width: 80vw;
    margin: 23px auto;
}
.container h1{
    text-align: center;
}
h1, h2, h3 {
    margin: 22px 0;
}

.btn{
    padding: 8px 15px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 25px 0;
    cursor: pointer;
}

.btnsm{ 
    padding: 8px 15px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px; 
    cursor: pointer;
}
.entry,.lower{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.entry{
    padding: 20px 10px;
    width: 60%;
    margin: auto;
    border-radius: 50px;
    background-color: rgba(197, 255, 255, 0.785);
}
img{
    cursor: pointer;
    position: relative;
    bottom: 7px;
    width: 15px;
    height: 13px;
}

#alert{
    display: none;
}